<template>
    <div class="myborder slds-p-around_medium">
        <lightning-card title="Lead Duplicates" icon-name="standard:lead_list" >
            <div class="slds-m-around_medium ">
                <ul class="slds-list_vertical slds-has-dividers_top-space">
                   <div class={isDuplicateExist}>
                       <template for:each={leadRecords.data} for:item="record" if:true={leadRecords.data}>
                           <li key={record.Id} class="slds-list__item">
                               <c-lead-item record={record}></c-lead-item>
                           </li>
                       </template>
                   </div>
                    <template if:true={leadRecords.error}>
                      <li class="slds-list__item">
                          <h3 class="slds-text-heading_small slds-text-color_error">{leadRecords.error}</h3>
                       </li>
                    </template>
                </ul>
            </div>
        </lightning-card>
    </div>
</template>