<template>
    <div class="slds-grid slds-hint-parent">
        <lightning-tile label={record.Name} href={getUrlPathToLead} class="slds-text-heading_medium slds-m-bottom_xx-small"></lightning-tile>
    </div>

    <lightning-record-view-form object-api-name="Lead" record-id={record.Id}>
        <lightning-layout multiple-rows>
            <lightning-layout-item size="6">
                <lightning-output-field field-name="Company"></lightning-output-field>
            </lightning-layout-item>
            <lightning-layout-item size="6">
                <lightning-output-field field-name="CreatedDate"></lightning-output-field>
            </lightning-layout-item>
            <lightning-layout-item size="6">
                <lightning-output-field field-name="Email"></lightning-output-field>
            </lightning-layout-item>
            <lightning-layout-item size="6">
                <lightning-output-field field-name="LeadSource"></lightning-output-field>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-record-view-form>
</template>